@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif; */



/********************* default ************************/
html, body {font-family: 'Lato', sans-serif; height: 5000px; color: #777; line-height: 1.5;}
.wrapper {max-width: 960px; margin: auto; border: 2px solid orange;}
section.wrapper {padding: 5em 1em;}
section.wrapper		  .title {color: #777; text-align: center;}
section.wrapper > h2.title {font-size: 1.5em; margin-bottom: 1.25em;}
section.wrapper > h3.title {font-style: italic; margin-bottom: 1.5em; line-height: 1.5;}
section > p.content {line-height: 1.5;}

aside.title-bar {font-size: 2em; letter-spacing: 0.325em; color: #f9f9f9; 
								text-align: center; padding: 5em 0;
								background-position: center; background-repeat: no-repeat; 
								background-size: cover; background-attachment: fixed;}
aside.title-bar.pf-bar {background-image: url('../img/parallax2.jpg')}
aside.title-bar.contact-bar {background-image: url('../img/parallax3.jpg')}



/********************* header ************************/
.header-wrapper {color: #777; position: fixed; width: 100%; z-index: 10; line-height: 1;}
.header-wrapper > .navi-wrapper {float: left;}
.header-wrapper > .navi-wrapper > .navi {float: left;}
.header-wrapper > .navi-wrapper > .navi:hover {background-color: #ccc; color: #111;}
.header-wrapper > .navi-wrapper > .navi > a {padding: 1em;}
.header-wrapper > .navi-wrapper > .navi > a .fa {margin-right: .25em;}
.header-wrapper > .search {float: right; padding: 1em; cursor: pointer;}
.header-wrapper > .search:hover {background-color: #f44336; color: #f9f9f9;}

.header-wrapper > .mb-bars {float: right; padding: 1em; cursor: pointer; display: none;}
.header-wrapper > .mb-bars:hover {background-color: #111;}

.header-wrapper.active {background-color: #f9f9f9; color: #111; box-shadow: 0 0 8px rgba(0,0,0,.5);
transition: transform .35s;}

.mbnavi-wrapper {width: 100%; position: fixed; background-color: #fff; top: 48px; display: none;}
.mbnavi-wrapper > .mbnavi {padding: 1em;}
.mbnavi-wrapper > .mbnavi:hover {background-color: #ddd;}


/********************* main ************************/
.main-wrapper {display: table; width: 100%; height: 100vh; background: url('../img/parallax1.jpg') no-repeat center / cover; background-attachment: fixed; /* opacity: .75; */}
.main-wrapper > .main-wrap {display: table-cell; width: 100%; height: 100%; background-color: rgba(255,255,255,.25); text-align: center; vertical-align: middle;}
.main-wrapper > .main-wrap > .logo {display: inline-block; background-color: #111; color: #f9f9f9; font-size: 1.5em; padding: .5em .75em; letter-spacing: .325em;}



/********************* about ************************/
.about-wrapper {text-align: justify; border: 1px solid pink;}
.about-wrap > div {width: 50%; float: left; padding: 1em; margin-bottom: 2em;}
.about-wrap .photo-wrap {text-align: center;}
.about-wrap .photo-wrap .name {margin-bottom: 2em;}
.about-wrap .photo-wrap .photo {border-radius: 5px; overflow: hidden;}
.about-wrap .photo-wrap .photo img {transition: all .5;}
.about-wrap .photo-wrap .photo:hover > img {transform: scale(1.1);}
.about-wrap .cont-wrap {margin-top: 3em;}

.skill-wrapper {}
.skill-wrapper > .title {text-align: center; font-size: 1.125; margin-bottom: 2em;}
.skill-wrapper > .skill-wrap > .skill {margin-bottom: 1.5em;}
.skill-wrapper > .skill-wrap > .skill > h5.title {text-align: left; letter-spacing: 0.5em; margin-bottom: 0.75em;}
.skill-wrapper > .skill-wrap > .skill > .bar-wrap {background-color: #eee;}
.skill-wrapper > .skill-wrap > .skill > .bar-wrap > .bar {background-color: #444; color: #f9f9f9; text-align: center; padding: .5em;}
.skill-wrapper > .skill-wrap > .skill:nth-child(1) > .bar-wrap > .bar {width: 90%}
.skill-wrapper > .skill-wrap > .skill:nth-child(2) > .bar-wrap > .bar {width: 85%}
.skill-wrapper > .skill-wrap > .skill:nth-child(3) > .bar-wrap > .bar {width: 70%}



/********************* pf ************************/



/********************* contact ************************/



/*********************footer************************/



/*********************response************************/

@media (max-width: 1400px) {
	
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	.header-wrapper > .mb-bars {display: block;}
	.header-wrapper > .search {display: none;}
	.header-wrapper > .navi-wrapper > .navi:not(:first-child) {display: none;}

	.mbnavi-wrapper.active {display: block;}

}

@media (max-width: 576px) {
.main-wrapper > .main-wrap > h1.logo > span {display: none;}


}